mixin sPayment(data)
	// start sPayment
	+b.SECTION.sPayment.section#sPayment&attributes(attributes)
		+b.section-title
			h1 Оплата
				
		+e.row.row
			+e.col.col-12
				h3 Способы оплаты
				
				+e.row.row
					mixin item(i, t) 
						+e.col.col-12.col-sm-6.col-lg-4.col-xl-3
							+e.item
								+e.item-img
									+img(`img/${i}.png`)
								+e.item-text!=t
					+item(`payment-1`, 'Безналичный расчет для физических и юридических лиц (предоплата)')
					+item(`payment-2`, 'Оплата наличными курьеру при получении заказа — при доставке транспортной компанией')
					+item(`payment-3`, 'Оплата пластиковой картой и электронными деньгами (Яндекс деньги, Webmoney, Qiwi). Мы используем безопасный онлайн сервис оплаты — СберБанк.')
					+item(`payment-4`, 'Оплата пластиковой картой курьеру — при доставке транспортной компанией СДЭК.')
				
				h3 Реквизиты для физ.лиц 
				+e.req-items.d-flex.align-items-center
					+e.req-item.alphabank
						+img('img/alphabank.png')
					+e.req-item.sberbank
						+img('img/sberbank.png')
				
				h5 ИП СУЧИЛИН А.С.
				table 
					tbody
						mixin tr(f, s)
							tr 
								td!= f
								td!= s
						+tr('ОГРНИП', '319508100100617 от 21.05.2019')
						+tr('ИНН', '773001857125')
						+tr('Адрес', 'г. Красногорск, Московская область')
						+tr('Расчетный счет', '40802810202410002359')
						+tr('Корреспондентский счет', '30101810200000000593')
						+tr('Название банка', 'АО «АЛЬФА-БАНК»')
						+tr('БИК', '044525593')

				h3 Реквизиты для юр.лиц
				h5 ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «АЛЬФА-М»
				table 
					tbody
						mixin tr(f, s)
							tr 
								td!= f
								td!= s
						+tr('Юридический адрес', '125373, Москва, Походный проезд, д. 4, корп. 1, офис 317 А')
						+tr('Почтовый адрес', '125373, г. Москва, Походный проезд, д. 4, корп. 1, Бизнес центр «Тушино» а/я 31')
						+tr('ИНН', '7733708887')
						+tr('КПП', '773301001')
						+tr('ОКПО', '62766729')
						+tr('Расчетный счет', '40702810302190000778')
						+tr('Название банка', 'АО "АЛЬФА-БАНК"')
						+tr('БИК', '044525593')
						+tr('Корреспондентский счет', '30101810200000000593')
						+tr('ОГРН', '1097746500720')
						+tr('ОКТМО', '45373000')
						+tr('ОКВЭД', '46.65')
						+tr('ОКОГУ', '49013')

	// end sPayment